<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quebec</title>
</head>
<body>
  <h1> Welcome! </h1>
  <h3> Enter the information below to see it return! </h3>
  <h1> Player Info </h1>

  <form action="/players" method="POST">
    <input type="text" placeholder="name" name="name"> <br>
    <input type="text" placeholder="position" name="position"> <br>
    <input type="number" placeholder="number" name="number"> <br>
    <button type="submit">Submit</button>
  </form>

  <br>

  <ul class = "players">
    <% for(var i = 0; i < players.length; i++) {%>
    <li class = "player">
        <span>Name: <%= players[i].name %></span><br>
        <span>Position: <%= players[i].position %></span><br>
        <span>Number: <%= players[i].number %></span><br>
        <!-- this will be for delete -->
        <!-- <button class = "delete" id = <%=players[i]._id%>> delete </button> -->
        <!-- <form method="post" action="/deletePlayer/<%= players[i].name %>/<%= players[i]._id %>"> -->
          <form method="post" action="/deletePlayer/<%= players[i]._id %>">
           <input type="delete"> <!-- onClick="return confirm('Confirm Deletion`?')" />
          <!-- <input type="hidden" name="_method" value="DELETE" /> -->
      </form>
        <div> <br> </div>
    </li>
    <% } %>
  </ul>
  <h2>Other Links</h2>
  <a href="https://github.com/nkerstiens/Quebec-Lab">GitHub Repo</a><br>
  <a href="https://nkerstiens.github.io/Quebec-Lab/">GitHub Pages</a><br>
  <a href="https://nkerstiens.github.io/Quebec-Lab/">Heroku App (This Page)</a>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="/index.js"></script>

</html>